#load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:50%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
}

#load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 4s linear infinite;
    -o-animation:move 4s linear infinite;
    -moz-animation:move 4s linear infinite;
    -webkit-animation:move 4s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#35C4F0;
}

#load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
    animation-delay:1.4s;
    -o-animation-delay:1.4s;
    -moz-animation-delay:1.4s;
    -webkit-animation-delay:1.4s;
}
#load div:nth-child(8) {
    animation-delay:1.6s;
    -o-animation-delay:1.6s;
    -moz-animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
}
#load div:nth-child(9) {
    animation-delay:1.8s;
    -o-animation-delay:1.8s;
    -moz-animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}
#load div:nth-child(10) {
    animation-delay:2s;
    -o-animation-delay:2s;
    -moz-animation-delay:2s;
    -webkit-animation-delay:2s;
}
#load div:nth-child(11) {
    animation-delay:2.2s;
    -o-animation-delay:2.2s;
    -moz-animation-delay:2.2s;
    -webkit-animation-delay:2.2s;
}
#load div:nth-child(12) {
    animation-delay:2.4s;
    -o-animation-delay:2.4s;
    -moz-animation-delay:2.4s;
    -webkit-animation-delay:2.4s;
}
#load div:nth-child(13) {
    animation-delay:2.6s;
    -o-animation-delay:2.6s;
    -moz-animation-delay:2.6s;
    -webkit-animation-delay:2.6s;
}
#load div:nth-child(14) {
    animation-delay:2.8s;
    -o-animation-delay:2.8s;
    -moz-animation-delay:2.8s;
    -webkit-animation-delay:2.8s;
}

@keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -webkit-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-o-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

#animated-image {
    opacity: 1; /* 100% opacity */
    animation: fadeInOut 1s 10;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.3; /* 40% opacity */
    }
    50% {
        opacity: 0.6; /* 70% opacity */
    }
    100% {
        opacity: 1; /* 100% opacity */
    }
}




#account, #log_in, #ready {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s 0.5s, transform 1s 0.5s;
}

#account.show, #log_in.show, #ready.show {
    opacity: 1;
    transform: translateY(0);
    animation: taadaa 2s 1;
}
@keyframes taadaa {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

